@model IEnumerable<TheForumOfEverything.Models.Posts.PostViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<!-- Header -->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>The Forum Of Everything</h1>
                    <span class="subheading">is a high school project developed from Alex Ivanov 12v PGEE Apostol Arnaudov, Ruse.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          @foreach (var item in Model){
            <!-- Post preview-->
            <div class="post-preview">
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">
                    <h2 class="post-title">@item.Title</h2>
                    <h3 class="post-subtitle">@item.ShortDescription</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">@item.User.UserName</a>
                    on @item.TimeCreated
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
           }
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" asp-area="" asp-controller="Posts" asp-action="Index">Older Posts →</a></div>
        </div>
    </div>
</div>