@model TheForumOfEverything.Models.Posts.CreatePostViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Header Page"] = "all-categories.jpg";

}

<!-- Header -->
<header class="masthead" id="mastheadOnlyWithTitle" style="background-image:url('/assets/img/@ViewData["Header Page"]')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Create Post</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<hr />
<div class="container-fluid">
    <h1 class="mt-4">Create</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <form asp-controller="Posts" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <i class="fas fa-pen-fancy mr-1"></i>
                        Write a Post
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Category</label>
                        <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                        <div class="form-group">
                            <label asp-for="HeaderImage"></label>
                            <div class="custom-file">
                                <input asp-for="HeaderImage" class="custom-file-input" accept="image/*" required />
                                <label class="custom-file-label">Choose file</label>
                            </div>
                            <span asp-validation-for="HeaderImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Title"></label>
                            <input asp-for="@Model.Title" class="form-control" required />
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description"></label>
                            <input asp-for="@Model.Description" class="form-control" required />
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Content"></label>
                            <textarea asp-for="@Model.Content" class="form-control textarea" rows="8"></textarea>
                            <span asp-validation-for="@Model.Content" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <p style="color: orangered; margin-bottom: 0;">Please Note:</p>
                        <p>Your post will need to be approved before it is published to the main page. Please feel free to email me to approve your post.</p>
                    </div>
                    <button type="submit" class="btn btn-outline-primary post-btn">Post</button>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.textarea'))
            .catch(error => {
                console.error(error);
            });
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}