@model IEnumerable<TheForumOfEverything.Models.Posts.PostViewModel>

@{
    ViewData["Title"] = "Index";
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1> All Posts</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<br>
<br>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              @foreach (var item in Model){
                <!-- Post preview-->
                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">
                        @if(item.Title.Length >= 30)
                        {
                            <h4 class="post-title">@item.Title.Substring(0, 30)...</h4>
                        }
                        else
                        {
                            <h4 class="post-title">@item.Title</h4>                            
                        }
                        <h6 class="post-subtitle">@item.Description</h6>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">@item.User.UserName</a>
                        on @item.TimeCreated
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
               }
            </div>
        </div>
    </div>